@model PasswordNewViewData
@{
    Layout = "~/Views/Shared/_Layout_Minimal.cshtml";
}
@section TestSection{ 

   <form action="/" method="post">
       <input asp-for="EmailAddress" />
        <button type="submit"></button>
    </form>

}

